
@{
    ViewBag.Title = "VerticalForm";
}

<h2>VerticalForm</h2>
<hr/>
<form class="form-inline">
    <div class="form-group">
        <label>Enter Username</label>
        <input type="text" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Enter Password</label>
        <input type="password" class="form-control"/>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" value="r"/>Remember me </label>
        </div>
    </div>
    <input type="submit" class="btn btn-primary"value="Login"/>
</form>

