@using StrongView.Models
@model Student
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Index</h2>

<br/>
@Model.Rollno<br/>
@Model.Name<br/>
@Model.Number<br/>