
@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>
<script>
       $(function () {

              $('#logout').click(function () {
                     $('#logoutForm').submit();
              });
       });
</script>


