
@{
    ViewBag.Title = "DoNot";
}

<h2>DoNot</h2>
<div class="row">
    <div class="col-md-4">
        @Html.Action("Sidebar")
    </div>
    <div class="col-md-8">
        <p>
            Partial　每次都会创建自己的 TextWriter 实例并且把内容缓存在内存中. 最后把所有 writer输出的内容发送到一个 MvcString对象中
            更多时候我们会使用  而不是@Html.Partial

            RenderPage()和RenderPartial()的区别

            RenderPage()调用的页面只能使用其传递过去的数据。
            而RenderPartial()是可以使用viewdata,model等数据的。

            Html.RenderPartial和Html.RenderAction的区别
        </p>
    </div>
</div>

