Dear all,<br/>&emsp;&emsp;工件运行完成。<br/>&emsp;&emsp;以下是详细数据。<br/><table border=1 borderColor=#000000 style=border-collapse: collapse>
    <tr>
        <td align=center> ProjectId </td>
        <td align=center> PartNum </td>
        <td align=center> TemplateName </td>
        <td align=center> Message </td>
        <td align=center> Time </td>
        <td align=center> Path </td>
    </tr>
     <tr>
         <td align=center>008000928900</td>
         <td align=center>L12</td>
         <td align=center>26-C62283</td>
         <td align=center>L</td>
         <td align=center> L12MH6</td>
          <td align=center> 0160</td>
    </tr>
</table><br/> <br/>This email is sent automatically by the system, please do not reply directly.
